*{
   margin: 2px;
   padding: 0%;
} 
body{
   font-family: 'Delicious Handrawn', cursive;
}

.cabeçalho {
   background-color: rgb(106, 72, 138);
   color: white; 
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0; 
   
}

.cabeçalho-imagem{
   width: 24%;
   margin: 02px;

}
.cabeçalho-lista-item{
   display: inline-block;
   margin: 0 16px;
   font-size: 24px;

}
.escola-imagem{
   width: 20%;
   
}
.escola{
   background-image: linear-gradient(#424E61, #4EBFE9);
   color: white;
   justify-content: center;
   align-items: center;
   padding: 24px 0;
}
.escola-div-conteudo{
   width: 35%;
}
     
   
.escola-titulo{
   padding: 24px 0;
}
.estudante-imagem{
   width: 120px;
}
.estudante-icone{
   width: 24px;
}
.estudante-div{
   text-align: center;
   
}